.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    max-width: 800px;
  }
  
  .about-page h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .about-page p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  